################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewTestApp/.vs/NewTestApp/v16
/NewTestApp/NewTestApp/bin/Debug/netcoreapp3.1
/NewTestApp/NewTestApp/obj
/.vs
/NewTestApp/.vs/NewTestApp
/NewTestApp/NewTestApp/NewTestApp.csproj.user
